In [52]:
import pandas as pd
import os.path as ospath

In [37]:
def downloadAllSymbols():
    url = "http://www.nasdaq.com/screening/companies-by-industry.aspx?exchange=NASDAQ&render=download"
    return pd.read_csv(url)

def downloadFromAlphavantage(function, symbol, interval):
    key = "I52KGAF7VGDN30F7"
    url = "https://www.alphavantage.co/query?function=%s&symbol=%s&interval=1min&apikey=%s&datatype=csv&outputsize=full" % (function, symbol, key)
    print("downloading from: %s" % url)
  
    return pd.read_csv(url)

def downloadTimeSeriesIntraday(symbol):
    return downloadFromAlphavantage("TIME_SERIES_INTRADAY", symbol, "1min")

In [55]:
not ospath.isfile("h:\\data\\20171016\\AMZN.csv")

False

In [39]:
allSymbol = downloadAllSymbols()

In [ ]:
for s in allSymbol['Symbol']:
    ss = s.strip()
    outputPath = "H:\\Data\\20171016\\%s.csv" % ss
    if not ospath.isfile(outputPath):
        print(outputPath)
        try:
            downloadTimeSeriesIntraday(ss).to_csv(outputPath)
        except:
            print(sys.exc_info())

H:\Data\20171016\CRZO.csv
downloading from: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=CRZO&interval=1min&apikey=I52KGAF7VGDN30F7&datatype=csv&outputsize=full
H:\Data\20171016\TAST.csv
downloading from: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=TAST&interval=1min&apikey=I52KGAF7VGDN30F7&datatype=csv&outputsize=full

In [34]:
ds = downloadTimeSeriesIntraday('MSFT')
ds1 = downloadTimeSeriesIntraday("AMZN")

downloading from: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=1min&apikey=I52KGAF7VGDN30F7&datatype=csv&outputsize=full
downloading from: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AMZN&interval=1min&apikey=I52KGAF7VGDN30F7&datatype=csv&outputsize=full

In [36]:
ds

                timestamp     open     high      low    close   volume
0     2017-10-16 16:00:00  77.6700  77.6850  77.6300  77.6500  1538416
1     2017-10-16 15:59:00  77.6150  77.6800  77.6150  77.6700    98104
2     2017-10-16 15:58:00  77.6000  77.6200  77.5944  77.6200   103063
3     2017-10-16 15:57:00  77.5800  77.6100  77.5700  77.5950    52522
4     2017-10-16 15:56:00  77.5600  77.5800  77.5500  77.5750    91637
5     2017-10-16 15:55:00  77.5654  77.5700  77.5600  77.5650    33433
6     2017-10-16 15:54:00  77.5600  77.5800  77.5600  77.5600    55779
7     2017-10-16 15:53:00  77.5800  77.5800  77.5600  77.5602    31407
8     2017-10-16 15:52:00  77.5900  77.6000  77.5700  77.5750    30201
9     2017-10-16 15:51:00  77.6000  77.6000  77.5800  77.5800    44823
10    2017-10-16 15:50:00  77.6000  77.6100  77.5800  77.6000   111481
11    2017-10-16 15:49:00  77.6050  77.6100  77.6000  77.6000    26795
12    2017-10-16 15:48:00  77.6050  77.6100  77.6046  77.6100     6641
13    2017-10-16 15:47:00  77.6000  77.6100  77.6000  77.6050    20664
14    2017-10-16 15:46:00  77.6000  77.6100  77.5600  77.6000   142930
15    2017-10-16 15:45:00  77.5900  77.6000  77.5800  77.6000    32930
16    2017-10-16 15:44:00  77.5900  77.5900  77.5800  77.5900    20420
17    2017-10-16 15:43:00  77.5800  77.5900  77.5700  77.5875    47190
18    2017-10-16 15:42:00  77.5750  77.5800  77.5700  77.5750    18599
19    2017-10-16 15:41:00  77.5850  77.5850  77.5733  77.5750     8058
20    2017-10-16 15:40:00  77.6050  77.6100  77.5800  77.5850    37292
21    2017-10-16 15:39:00  77.5690  77.6100  77.5650  77.6050    45652
22    2017-10-16 15:38:00  77.5600  77.5700  77.5544  77.5664    35070
23    2017-10-16 15:37:00  77.5500  77.5600  77.5500  77.5600    29037
24    2017-10-16 15:36:00  77.5600  77.5600  77.5500  77.5550     9253
25    2017-10-16 15:35:00  77.5600  77.5600  77.5500  77.5550     9715
26    2017-10-16 15:34:00  77.5300  77.5600  77.5201  77.5550    33492
27    2017-10-16 15:33:00  77.5200  77.5300  77.5200  77.5283     7576
28    2017-10-16 15:32:00  77.5300  77.5300  77.5150  77.5300    16233
29    2017-10-16 15:31:00  77.5200  77.5300  77.5000  77.5242    29184
...                   ...      ...      ...      ...      ...      ...
3880  2017-10-03 09:59:00  74.8000  74.8000  74.7500  74.7540    19741
3881  2017-10-03 09:58:00  74.8000  74.8000  74.7800  74.8000    13063
3882  2017-10-03 09:57:00  74.8200  74.8200  74.7900  74.8039     9644
3883  2017-10-03 09:56:00  74.7346  74.8150  74.7346  74.8150    30538
3884  2017-10-03 09:55:00  74.7600  74.7700  74.7000  74.7200    17003
3885  2017-10-03 09:54:00  74.7670  74.7800  74.7200  74.7648    23567
3886  2017-10-03 09:53:00  74.7733  74.7733  74.7200  74.7650    21526
3887  2017-10-03 09:52:00  74.7650  74.7900  74.7446  74.7800    19207
3888  2017-10-03 09:51:00  74.8046  74.8300  74.7600  74.7600    31137
3889  2017-10-03 09:50:00  74.8100  74.8200  74.7700  74.8000    35292
3890  2017-10-03 09:49:00  74.8100  74.8100  74.7600  74.8100    20658
3891  2017-10-03 09:48:00  74.8400  74.8800  74.7848  74.8000    41487
3892  2017-10-03 09:47:00  74.7400  74.8400  74.7300  74.8300    85122
3893  2017-10-03 09:46:00  74.6500  74.7300  74.6300  74.7300    58541
3894  2017-10-03 09:45:00  74.6900  74.7100  74.6300  74.6500    22111
3895  2017-10-03 09:44:00  74.6900  74.7300  74.6650  74.6900    20887
3896  2017-10-03 09:43:00  74.6800  74.6800  74.6400  74.6800    24721
3897  2017-10-03 09:42:00  74.7400  74.7500  74.6500  74.6750    34756
3898  2017-10-03 09:41:00  74.7201  74.7700  74.7100  74.7500    33911
3899  2017-10-03 09:40:00  74.6901  74.7300  74.6901  74.7250    33345
3900  2017-10-03 09:39:00  74.6300  74.7000  74.6300  74.6901    54354
3901  2017-10-03 09:38:00  74.5900  74.6400  74.5800  74.6250    17845
3902  2017-10-03 09:37:00  74.5900  74.6200  74.5800  74.6050    23057
3903  2017-10-03 09:36:00  74.5900  74.6250  74.5750  74.5900    29248
3904  2017-10-03 09:35:00  74.5800  74.6200  74.5700  74.5900    29154
3905  2017-10-03 09:34:00  74.5700  74.5900  74.5400  74.5850    22993
3906  2017-10-03 09:33:00  74.5800  74.6000  74.5600  74.5700    16925
3907  2017-10-03 09:32:00  74.5300  74.5800  74.5200  74.5700    22355
3908  2017-10-03 09:31:00  74.6050  74.6500  74.4600  74.5300    67189
3909  2017-10-03 09:30:00  74.6700  74.6800  74.5000  74.6100   236566

[3910 rows x 6 columns]

In [8]:
str = "a %s b %s" % ("test" , "aaa")

In [9]:
str

'a test b aaa'