In [1]:
import pandas as pd

In [21]:
def downloadFromAlphavantage(function, symbol, interval):
    key = "I52KGAF7VGDN30F7"
    url = "https://www.alphavantage.co/query?function=%s&symbol=%s&interval=1min&apikey=%s&datatype=csv&outputsize=full" % (function, symbol, key)
    print("downloading from: %s" % url)
  
    return pd.read_csv(url)

def downloadTimeSeriesIntraday(symbol):
    return downloadFromAlphavantage("TIME_SERIES_INTRADAY", symbol, "1min")

In [22]:
ds = downloadTimeSeriesIntraday('MSFT')

downloading from: https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=1min&apikey=I52KGAF7VGDN30F7&datatype=csv&outputsize=full

In [25]:
ds.head()

             timestamp    open    high      low   close   volume
0  2017-10-16 16:00:00  77.670  77.685  77.6300  77.650  1538416
1  2017-10-16 15:59:00  77.615  77.680  77.6150  77.670    98104
2  2017-10-16 15:58:00  77.600  77.620  77.5944  77.620   103063
3  2017-10-16 15:57:00  77.580  77.610  77.5700  77.595    52522
4  2017-10-16 15:56:00  77.560  77.580  77.5500  77.575    91637

In [8]:
str = "a %s b %s" % ("test" , "aaa")

In [9]:
str

'a test b aaa'